/* Kubernetes-inspired custom styles */
.top-nav {
  background-color: #326CE5;
}
.top-nav .navbar-brand,
.top-nav .nav>li>a,
.top-nav .navbar-toggle {
  color: #fff;
}
.top-nav .nav>li>a:hover,
.top-nav .navbar-brand:hover {
  color: #fff;
  text-decoration: underline;
}
#side-nav-container {
  background-color: #f7f7f7;
}
